.Track{
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    width: 200px;
    
    
}

.TrackAction {
    border: none;
    background-color: #f9f9f9;
    color: blueviolet;
}