body,
html,
#root {
  height: 100%;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; 
  padding: 20px; 
  z-index: 100; 
}

.header h1 {
  margin: 0;
}

h2 {
  padding: 12px 40px;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  border-color: white;
  border-radius: 8px;
}

.lists {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 60px;
}


@media only screen and (max-width: 1020px) {
  .lists {
    align-items: center;
    flex-direction: column;
  }
}